eval "$(conda shell.bash hook)"
conda activate bragghls

BRAGGHLS_PATH=
for d in $(pwd)/build/*; do
    BRAGGHLS_PATH="$BRAGGHLS_PATH:$d/bin";
done
echo $BRAGGHLS_PATH
export BRAGGHLS_PATH=$BRAGGHLS_PATH
export PATH=$PATH:$BRAGGHLS_PATH
export PYTHONPATH=$(pwd)