[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "externals/torch-mlir"]
	path = externals/torch-mlir
	url = https://github.com/llvm/torch-mlir
