[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "externals/torch-mlir"]
	path = externals/torch-mlir
	url = https://github.com/llvm/torch-mlir
[submodule "externals/circt"]
	path = externals/circt
	url = https://github.com/llvm/circt/
[submodule "externals/flopoco"]
	path = externals/flopoco
	url = https://gitlab.com/flopoco/flopoco.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
