-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre
torch

-f https://github.com/llvm/torch-mlir/releases/expanded_assets/snapshot-20220913.595
--pre
torch-mlir

numpy
networkx
astor
jinja2
cocotb
matplotlib
xeda
